<!DOCTYPE html>
<html>
  <head>
    <title><eoor page></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href = "../">
  <img id="header_image" src ="/images/updatedLogo.png"> 
  </a>


<div id ="content">
    <h1><error page></h1>
    <div><%= message %></div><br>

	<p><h1>Sorry there is an error with the page that your requesting </h1></p>
	
	<p>Here are some links to get started </p>
	<p><a href="../login"> Click Here </a> to login to retrieve your profile</p>
	<p><a href="../signup"> Signup an Account </a> join or create your group today!</p>
		


	<br>
	<p><a href="../user/newpage"> This is how inspire works </a> have pics/pdf slides </p>


	<p><a href="../user/online"> Here is a current list of online users</a></p>
	<br>

<br>	
<p><a href="../logout"> Logout</a></p>

</div>
  </body>
</html>