<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/content_fadein.js"></script>
  </head>

  <body>
	<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	// Grab DOM from warning.html's document.
	var el = content.querySelector('#headerbanner');
    	document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#admin_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>


<div id ="content" class = "contentview">
    <p>Welcome <%= user.id %> from  <%= user.isadminfor %>!  </p>

	<a href="../user/online"> click to see online user list</a>

<form method="post" 
	action="/admin/upload"
	enctype="multipart/form-data">

    <p>
      <label>File to Upload</label>
      <input id="file" type="file" name="file">
      <br>
	<label>Press to...</label>
      <input id="submit" type="submit" name="submit" value="Upload!">
    </p>
    
  </form>
<br>



   
<p>Add new sub school group << not working yet </p>
<form method="post" action="/admin/newgroup">
      	Parent group :	<input type="text" name="parentgroup"> <br>
	Subgroup Name :	<input type="text" name="groupname"> <br>

      <button>Create Group</button>
    </form>

<p>Add new a new course << not working yet </p>
<form method="post" action="/admin/newcourse">
      	New Course :	<input type="text" name="coursename"> <br>
	Pre-req : 	<input type="text" name="pre-reqcourse"> <br>

      <button>Create Group</button>
    </form>

</div>
  </body>
</html>