
	<!-- Menu 		should seperate this as a partial, then use render-partial to pull it in		-->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="/">Homepage</a></h1>
			<a href="/user/" class="smoothScroll">Manage Users</a>
			<a href="/user/add" class="smoothScroll">Add Delegate</a>
			<a href="/user/edit" class="smoothScroll">Edit Users</a> 
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>