
  	<% include ./menu_template_start %>
			<a href="/molecule/" class="smoothScroll">Manage Molecule</a>
			<a href="/molecule/add" class="smoothScroll">Add Molecule</a>
			<a href="/molecule/edit" class="smoothScroll">Edit Molecule</a>
		
  	<% include ./menu_template_end %>