
  	<% include ./menu_template_start %>
			<a href="/playlist/" class="smoothScroll">Manage Playlist</a>
			<a href="/playlist/add" class="smoothScroll">Add Playlist</a>
			<a href="/playlist/edit" class="smoothScroll">Edit Playlist</a>
		
  	<% include ./menu_template_end %>