<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/login.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="javascripts/content_fadein.js"></script>
  </head>

  <body>
	<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	// Grab DOM from warning.html's document.
	var el = content.querySelector('#headerbanner');
    	document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#front_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>


<div id ="content" class = "contentview">

<div id = "signup">
<u><h3>Signup for a new account:</h3></u>
<form method="post" action="/signup/newuser">
      User Name: <input class="box" type="text" name="username"> <br>
      Password : <input class="box" type="password" name="password"> <br>
      First Name:<input class="box" type="text" name="fname"><br>
      Last Name: <input class="box" type="text" name="lname"><br>
      Grade Year:<select name="year">
	<option value ="Freshman">Freshman</option>
	<option value ="Sophomore">Sophomore</option>
	<option value ="Junior">Junior</option>
	<option value ="Senior">Senior</option>
	</select>
	<br>
	<br>
      School Admin ?:<input type="checkbox" name="admintype" value ="true"> <br>
	School/Org Name: <input class="box"type="text" name="orgname" value="UMass Amherst"> <br>
      	
	GPA out of(4.0)<input class="box" type="text" name="gpa" value=4.0><br>
	
	Tracks: <select name="track">
	<option value ="General Computer Science">General Computer Science</option>
	<option value ="Software Engineering">Software Engineering</option>
	<option value ="Security & Privacy">Security & Privacy</option>
	<option value ="Robotics, Vision, and Graphics">Robotics, Vision, and Graphics</option>
	<option value ="Artificial Intelligence">Artificial Intelligence</option>
	<option value ="Computer Architecture">Computer Architecture</option>
	<option value ="Networking">Networking</option>
	<option value ="Software Systems">Software Systems</option>
	<option value ="Programming Languages & Compiler">Programming Languages & Compiler</option>
	<option value ="Theory of Computation">Theory of Computation</option>
	<option value ="Search & Data Mining">Search & Data Mining</option>
	</select>
	<br>
	<br><hr>
	<button>Create my Account</button>
    </form>

</div>
</div>
  </body>
</html>