<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
  		<link rel="stylesheet" type="text/css" href="../css/content-index.css" media="all" />
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
  	<% include ./../partials_template/menu_templates/menu_sub_molecule %>

	<!-- ========== render partial SECTION ========== -->
  <div id="headerwrap" style="background:white">
	
<div class="container">
         <h1 style="color:black">MANAGE MOLECULE FILES</h1>
      <div class="row" >
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <a href="/molecule/createmolecule"><span class="glyphicon glyphicon-plus-sign" style="font-size: 8em;"></span></a> <br><h2>New Content</h2>
        </div>

          <div class="col-lg-3">
          <a href="/molecule/approval"><span class="glyphicon glyphicon-ok" style="font-size: 8em"></span></a> <br><h2>Approval</h2>
        </div>
   
      </div>
    </div><!-- /container -->

<div class=tab>
<table id="ta1" border="1">
    <thead>
      <tr>
        <th id ="num">Number</th>
        <th id ="nam">Name</th>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/molecule/content">mol1</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="content.html">mol2</a></td>
      </tr>
       <tr>
        <td>3</td>
        <td><a href="content.html">mol3</a></td>
      </tr> <tr>
        <td>4</td>
        <td><a href="content.html">mol4</a></td>
      </tr> <tr>
        <td>5</td>
        <td><a href="content.html">mol5</a></td>
      </tr>
       <tr>
        <td>6</td>
        <td><a href="content.html">mol6</a></td>
      </tr> <tr>
        <td>7</td>
        <td><a href="content.html">mol7</a></td>
      </tr> <tr>
        <td>8</td>
        <td><a href="content.html">mol8</a></td>
      </tr> <tr>
        <td>9</td>
        <td><a href="content.html">mol9</a></td>
      </tr>
    </thead>
  </table>
</div>



</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<footer>
		<% include ./../partials_template/footer %>
	</footer>
	</body>
</html>
