<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./../partials_template/head %>
</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
 <% include ./../partials_template/menu_templates/menu_sub_molecule %>

 <!-- ========== render partial SECTION ========== -->
 <div id="headerwrap" style="background:white">
  <div class="container">


    <div class="row" >
      <h1 style="color:black">CURRENT MOLECULE(S)</h1>


      <section id="moleculelist" name="list"></section>
      <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="text-align:center;">ID</th>
            <th style="text-align:center;">Play Count</th>
            <th style="text-align:center;">Molecular Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0134</td>
            <td>83</td>
            <td><!--<a href="content.html">-->ammonia (NH3)<!--</a>--></td>
          </tr>
          </a>
          <tr>
            <td>0224</td>
            <td>2</td>
            <td><!--<a href="content.html">-->
chlorine (Cl2)<!--</a>--></td>
          </tr>
          <tr>
            <td>0342</td>
            <td>572</td>
            <td><!--<a href="content.html">-->oxygen (O2)<!--</a>--></td>
          </tr>
        </tbody>
      </table>
    </div>
<!-- <table id="ta1" border="1">
    <thead>
      <tr>
        <th id ="num">Number</th>
        <th id ="nam">Name</th>
        <th id ="nam">Played count</th>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/molecule/content">Molecule name 1</a></td>
        <td>252</td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="/molecule/content">Molecule name 2</a></td>
      </tr>
       <tr>
        <td>3</td>
        <td><a href="/molecule/content">Molecule name 3</a></td>
        <td>572</td>
      </tr> <tr>
        <td>4</td>
        <td><a href="/molecule/content">Molecule name 4</a></td>
        <td>75</td>
      </tr> <tr>
        <td>5</td>
        <td><a href="/molecule/content">Molecule name 5</a></td>
        <td>83</td>
      </tr>
       <tr>
        <td>6</td>
        <td><a href="/molecule/content">Molecule name 6</a></td>
        <td>347</td>
      </tr> <tr>
    </thead>
  </table> -->

</div>
</div><!-- /container -->
</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <footer>
      <% include ./../partials_template/footer %>
    </footer>
  </body>
  </html>
