<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
  		<link rel="stylesheet" type="text/css" href="../css/content-spe.css" media="all" />
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
  	<% include ./../partials_template/menu_templates/menu_sub_molecule %>

	<!-- ========== render partial SECTION ========== -->
  <div id="headerwrap" style="background:white">
	
<div class="container">
 
      <br>
      <div class="row" >
        <h1 style="color:black">MOLECULE</h1>
        
<div class= "img1">    
<img id = "mo1" src="../img/methane.png" align="right">
</div>
      </div>
    </div><!-- /container -->


<div class="text">

<p id="box">
Name: Methane</br>
Author: Breana Shavonne</br>
Description: A colorless, odorless flammable gas that is the main constituent of natural gas. It is the simplest member of the alkane series of hydrocarbons.
</p>
</div>


</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<footer>
		<% include ./../partials_template/footer %>
	</footer>
	</body>
</html>
