<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
  		<link rel="stylesheet" type="text/css" href="./css/content-spe.css" media="all" />
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
  	<% include ./../partials_template/menu_templates/menu_sub_molecule %>

	<!-- ========== render partial SECTION ========== -->
  <div id="headerwrap" style="background:white">
	
<div class="container">
 
      <br>
      <div class="row" >
        <h1 style="color:black">MOLECULE</h1>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">
          <p>
            <a href="/molecule/createmolecule"><span class="glyphicon glyphicon-plus-sign" style="font-size: 8em;"></span></a> <br><h2>New Content</h2>
          </p>
        </div>

   
      </div>
    </div><!-- /container -->





</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<footer>
		<% include ./../partials_template/footer %>
	</footer>
	</body>
</html>
