<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
      <link rel="stylesheet" href="/css/form-elements.css">
      <link rel="stylesheet" href="/css/style.css">


  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
  	<% include ./../partials_template/menu_templates/menu_sub_installation %>

	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap" style="background:white">

		<div class="container">
			<div class="row" >
        <div class="col-xs-3 ">
          <a href="/installation/add"><span class="glyphicon glyphicon-plus" style="font-size: 17em;"></span></a>

        </div>
        <div class="col-lg-3">

          <p>
          </p>
        </div>
        <h1 style="color:black; text-align:left;">+ NEW INSTALLATION</h1>



        <!-- begin form logic below -->
        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 book">
                    </div>
                      <div class="col-sm-5 form-box">
                        <div class="form-top">
                          <div class="form-top-left">
                            <h3></h3>
                              <p>Fill in the form below to get instant access:</p>
                          </div>
                          <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                          </div>
                          </div>
                          <div class="form-bottom">
                        <form role="form" action="http://localhost:3000/installation/create" method="post" class="registration-form">
                          <div class="form-group">
                            <label class="sr-only" for="form_city">City</label>
                              <input type="text" name="form_city" placeholder="City..." class="form_city form-control" id="form_city">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_country">Country</label>
                              <input type="text" name="form_country" placeholder="Country..." class="form_country form-control" id="form_country">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_school_affiliation">School Affiliation</label>
                              <input type="text" name="form_school_affiliation" placeholder="School Affiliation..." class="form_school_affiliation form-control" id="form_school_affiliation">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_username">Local Admin Username</label>
                              <input type="text" name="form_username" placeholder="Local Admin Username..." class="form_username form-control" id="form_username">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_GPS_location_x">GPS Location x</label>
                              <input type="text" name="form_GPS_location_x" placeholder="GPS Location x..." class="form_GPS_location_x form-control" id="form_GPS_location_x">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_GPS_location_y">GPS Location y</label>
                              <input type="text" name="form_GPS_location_y" placeholder="GPS Location y..." class="form_GPS_location_y form-control" id="form_GPS_location_y">
                            </div>


                            <button type="submit" class="btn">Post</button>
                        </form>
                      </div>
                      </div>
                  </div>

                </div>
            </div>

        </div>


        <!-- end form logic here.-->


			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/classie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
	<script src="/js/main.js"></script>
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery.backstretch.min.js"></script>
  <script src="/js/retina-1.1.0.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>
