altgraph==0.10.2
bdist-mpkg==0.5.0
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
macholib==1.5.1
MarkupSafe==0.23
psycopg2==2.6.1
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
requests==2.7.0
virtualenv==13.1.0
Werkzeug==0.10.4
xattr==0.6.4
zope.interface==4.1.1
gunicorn==19.3.0
whitenoise==1.0.6