<!DOCTYPE html>
<html>
  <head>
    <img src="../images/Plannit-logo.png">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

<!--this will be the header for the login i made this seperate since
the user should only get the bar on the top with a link to logout
if they are logged in -->   
