
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/classie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
	<script src="/js/main.js"></script>


<p class="text-center">
<br>


			<a href="https://github.com/Steve-Jones/Molecular-Playground">
			&copy; Copyright 2015 Team Dropout
			</a>
</p>
