<!--  turn this whole thign off for production
<nav class="navbar navbar-default" role="navigation">
-->

	<div class="container-fluid">
		<div class="navbar-header" style="background-color:white">
				<br><a href="/"><img src="/img/logoblack.png"></a>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="navbar-header">
<<<<<<< HEAD
			<a class="navbar-brand" href="/sso">Single-Sign-On</a>
=======

			<a class="navbar-brand" href="/sso">
			Single-Sign-On
			<br>User: 
						<% if (userinfo) {%>
						<%= '#'+JSON.stringify(userinfo.id) + '-' +JSON.stringify(userinfo.firstname) %>
						<% }else {%>
						<%= 'undefined'%>
						<%} %>
						</a>
>>>>>>> 46b0b6e3236f2d4fb23288bba36584258ca056cf
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/molecule">mgmt molecule</a></li>
			<li><a href="/playlist">mgmt playlist</a></li>
			<li><a href="/installation">mgmt installation</a></li>
			<li><a href="/user">mgmt user</a></li>
		</ul>
	</div>
	</nav>


<!--
</nav>
-->
