<!--  turn this whole thign off for production
<nav class="navbar navbar-default" role="navigation">
-->
<!-- 
	<div class="container-fluid">
		<div class="navbar-header">
				<br><a href="/"><img src="/img/logoblack.png"></a>
		</div>
	</div>
-->
	<div class="container-fluid">

			<div class="container">

				<div class="row" style="text-align:center">
					<h1>Molecular Playground Admin Portal</h1>
				</div>
			</div>
	</div>


<!--
</nav>
-->
