<!--  turn this whole thign off for production
<nav class="navbar navbar-default" role="navigation">
-->

	<div class="container-fluid">
		<div class="navbar-header" style="background-color:white">
				<br><a href="/"><img src="/img/logoblack.png"></a>
		</div>
	</div>

	<div class="container-fluid">
		<div class="navbar-header">
<<<<<<< HEAD
			<a class="navbar-brand" href="/sso">Single-Sign-On</a>
=======

			<a class="navbar-brand" href="/sso">
			Single-Sign-On
			<br>User: 
						<% if (userinfo) {%>
						<%= '#'+JSON.stringify(userinfo.id) + '-' +JSON.stringify(userinfo.firstname) %>
						<% }else {%>
						<%= 'undefined'%>
						<%} %>
						</a>
>>>>>>> 46b0b6e3236f2d4fb23288bba36584258ca056cf
		</div>

			<div class="container">

				<div class="row">
					<h1>Molecular Playground Admin Portal</h1>
				</div>
			</div>
	</div>


<!--
</nav>
-->
