
	<!-- <div class="container-fluid">
			<div class="container" style="text-align:center;-webkit-margin-after: 0em;">

				<a href="/">
					<h1>Molecular Playground Admin Portal</h1>
					</a>
			</div>
	</div> -->
	<div class="container-fluid">
		<div class="headerwrap">
			<div class="container" >
				<div class="logo">

					<h1>
						<img src="../img/logowhite.png"></h1>
				</div>

		</div>
	</div>
</div>

		<!-- <nav class="menu" id="menu2">
			<a class="navbar-header" href="/sso" style="line-height: 1.5;">
			<br>Single-Sign-On
			<br>User:
						<% if (userinfo) {%>
						<%= '#'+JSON.stringify(userinfo.id) + '-' +JSON.stringify(userinfo.firstname) %>
						<% }else {%>
						<%= 'undefined'%>
						<%} %>
						</a>
		</nav> -->
