<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

var map;
function initMap() {
  var UMassAmherstMarker = {lat: 42.3889, lng: -72.5278};
  var SpringfieldScienceMarker = {lat: 42.1036, lng: -72.5853};
  var StOlafMarker = {lat: 44.4594, lng: -93.1806};
  var OkinawaMarker = {lat: 26.4619, lng: 127.8311};
  var GileadSciencesMarker = {lat: 37.5669, lng: -122.2816};
  var AlcalaMadridMarker = {lat: 40.4824, lng: -3.3651};
  var KentuckyMarker = {lat: 37.7373, lng: -84.3089};
  var ViaDomitiaMarker = {lat: 42.6820, lng: 2.8967};
  var OtterbeinMarker = {lat: 40.1255, lng: -82.9386};

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 20, lng: 10},
    zoom: 2,
    mapTypeControl: false,
    streetViewControl: false,
    mapTypeId: google.maps.MapTypeId.HYBRID
  });

  var pinColor = "00802B"; // GREEN

  var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
      new google.maps.Size(21, 34),
      new google.maps.Point(0,0),
      new google.maps.Point(10, 34));

  var marker1 = new google.maps.Marker({
    map: map,
    position: UMassAmherstMarker,
    title: 'UMass Amherst Integrated Sciences Building',
    icon: pinImage,
    clickable: true
  });

  var marker2 = new google.maps.Marker({
    map: map,
    position: SpringfieldScienceMarker,
    title: 'Springfield Science Museum',
    icon: pinImage
  });

  var marker3 = new google.maps.Marker({
    map: map,
    position: StOlafMarker,
    title: 'St Olaf College',
    icon: pinImage
  });

  var marker4 = new google.maps.Marker({
    map: map,
    position: OkinawaMarker,
    title: 'Okinawa Institute of Science & Technology',
    icon: pinImage
  });

  var marker5 = new google.maps.Marker({
    map: map,
    position: GileadSciencesMarker,
    title: 'Gilead Sciences Inc.',
    icon: pinImage
  });

  var marker6 = new google.maps.Marker({
    map: map,
    position: AlcalaMadridMarker,
    title: 'Universidad de Alcalá',
    icon: pinImage
  });

  var marker7 = new google.maps.Marker({
    map: map,
    position: KentuckyMarker,
    title: 'University of Eastern Kentucky',
    icon: pinImage
  });

  var marker8 = new google.maps.Marker({
    map: map,
    position: ViaDomitiaMarker,
    title: 'Université de Perpignan Via Domitia',
    icon: pinImage
  });

  var marker9 = new google.maps.Marker({
    map: map,
    position: OtterbeinMarker,
    title: 'Otterbein University',
    icon: pinImage
  });

  var infowindow1 = new google.maps.InfoWindow({
    content: marker1.title,
    maxwidth: 200
  });

  var infowindow2 = new google.maps.InfoWindow({
    content: marker2.title,
    maxwidth: 200
  });

  var infowindow3 = new google.maps.InfoWindow({
    content: marker3.title,
    maxwidth: 200
  });

  var infowindow4 = new google.maps.InfoWindow({
    content: marker4.title,
    maxwidth: 200
  });

  var infowindow5 = new google.maps.InfoWindow({
    content: marker5.title,
    maxwidth: 200
  });

  var infowindow6 = new google.maps.InfoWindow({
    content: marker6.title,
    maxwidth: 200
  });

  var infowindow7 = new google.maps.InfoWindow({
    content: marker7.title,
    maxwidth: 200
  });

  var infowindow8 = new google.maps.InfoWindow({
    content: marker8.title,
    maxwidth: 200
  });

  var infowindow9 = new google.maps.InfoWindow({
    content: marker9.title,
    maxwidth: 200
  });

  var zoom = 15;

  marker1.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker1.getPosition());
  });

  marker1.addListener('mouseover', function() {
    infowindow1.open(map,marker1);
  });

  marker1.addListener('mouseout', function() {
    infowindow1.close(map,marker1);
  });

  marker2.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker2.getPosition());
  });

  marker2.addListener('mouseover', function() {
    infowindow2.open(map,marker2);
  });

  marker2.addListener('mouseout', function() {
    infowindow2.close(map,marker2);
  });

  marker3.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker3.getPosition());
  });

  marker3.addListener('mouseover', function() {
    infowindow3.open(map,marker3);
  });

  marker3.addListener('mouseout', function() {
    infowindow3.close(map,marker3);
  });

  marker4.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker4.getPosition());
  });

  marker4.addListener('mouseover', function() {
    infowindow4.open(map,marker4);
  });

  marker4.addListener('mouseout', function() {
    infowindow4.close(map,marker4);
  });

  marker5.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker5.getPosition());
  });

  marker5.addListener('mouseover', function() {
    infowindow5.open(map,marker5);
  });

  marker5.addListener('mouseout', function() {
    infowindow5.close(map,marker5);
  });

  marker6.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker6.getPosition());
  });

  marker6.addListener('mouseover', function() {
    infowindow6.open(map,marker6);
  });

  marker6.addListener('mouseout', function() {
    infowindow6.close(map,marker6);
  });

  marker7.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker7.getPosition());
  });

  marker7.addListener('mouseover', function() {
    infowindow7.open(map,marker7);
  });

  marker7.addListener('mouseout', function() {
    infowindow7.close(map,marker7);
  });

  marker8.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker8.getPosition());
  });

  marker8.addListener('mouseover', function() {
    infowindow8.open(map,marker8);
  });

  marker8.addListener('mouseout', function() {
    infowindow8.close(map,marker8);
  });

  marker9.addListener('click', function() {
    map.setZoom(zoom);
    map.setCenter(marker9.getPosition());
  });

  marker9.addListener('mouseover', function() {
    infowindow9.open(map,marker9);
  });

  marker9.addListener('mouseout', function() {
    infowindow9.close(map,marker9);
  });

  }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTdeav80CxRzqtWK7D8BbXSfEMkzDLV0Y&callback=initMap"
        async defer></script>
  </body>
</html>
