        <div class="top-content">

          <div class="inner-bg">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 book">
                </div>
                <div class="col-sm-4 form-box">

                  <div class="form-bottom">
                    


          <form class="" action="/signup" method="post" class="registration-form">
            <p>
              <input type="text" name="firstName" value="" placeholder="First Name" class="form_city form-control">

              <input type="text" name="lastName" value="" placeholder="Last Name" class="form_city form-control">

              <input type="text" name="username" value="" placeholder="username" class="form_city form-control">
  
              <input type="text" name="email" value="" placeholder="email" class="form_city form-control">

              <input type="password" name="password" value="" placeholder="password" class="form_city form-control">

              <input type="hidden" name="role" value=4>


            </p>
            <p class="submit"><input type="submit" name="commit" value="Submit" class="btn"></p>
          </form>



                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>