<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/css/prettyModule.css">
</head>

<body ng-app="Module">
<div ng-controller="AppCtrl">
  <div class="outerCard">
  <md-card>
<!-- text box inner card-->
 <div class="innerCard" ng-hide="hiddenNewNote">
      <md-card>
       <!-- <img src="img/washedout.png" class="md-card-image" alt="Washed Out">-->
        <md-card-content>
        <form>
           <md-input-container flex>
           <!-- title 
          <label>Title</label> 
          <input ng-model="title"> -->
        </md-input-container>
      <!-- notes section-->
      <md-input-container flex>
        <label>Notes</label>
      <textarea ng-model="body" columns="1" md-maxlength=""></textarea>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary" ng-click="saveNote()">Save</md-button>
    </form>
  
        </md-card-content>
      </md-card>
    </div>
<!--first note innercard-->
    <div class="innerCard"  ng-controller="NoteCardCtrl" ng-hide="noteCardHide">
      <md-card>
       <!-- <img src="img/washedout.png" class="md-card-image" alt="Washed Out">-->
        <md-card-content>
          <h2 class="md-title">Note</h2>
          <p ng-bind="noteBody">
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          <md-button ng-controller="EditNoteCtrl" type="submit" class="md-raised md-primary" ng-click="showAdvanced($event)">Edit Note</md-button>
        </md-card-content>
      </md-card>
    </div>
    <!-- second card -->
     <div class="innerCard">
      <md-card>
        
        <md-card-content>
          <h2 class="md-title">Useful Links</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
             The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>
  </md-card>
  </div>

<!-- useful links -->

<div class="outerCard">
  <md-card>
<!-- text box inner card-->
 <div class="innerCard">
      <md-card>
       <!-- <img src="img/washedout.png" class="md-card-image" alt="Washed Out">-->
        <md-card-content>
        <form>
           <md-input-container flex>
           <!-- title 
          <label>Title</label> 
          <input ng-model="title"> -->
        </md-input-container>
      <!-- notes section-->
      <md-input-container flex>
        <label>Add New Link</label>
      <textarea ng-model="body" columns="1" md-maxlength=""></textarea>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary" ng-click="saveNote()">Save</md-button>
    </form>
  
        </md-card-content>
      </md-card>
    </div>
<!--first note innercard-->
    <div class="innerCard">
      <md-card>
       <!-- <img src="img/washedout.png" class="md-card-image" alt="Washed Out">-->
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          <md-button ng-controller="EditNoteCtrl" type="submit" class="md-raised md-primary" ng-click="showAdvanced($event)">Edit Note</md-button>
        </md-card-content>
      </md-card>
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
  <script type="text/javascript" src="/js/prettyModule.js"></script>
</body>