h1{
margin-bottom: 60px;
}
h4{
  font-family: Helvetica;
  font-weight: 300;
  text-align: left;
  color: gray;
  padding-top: -20px;
  padding-left: px;
  font-size: 20px;
  margin-left: 20px;
}

.col-lg-2{
  padding-top: 95px;
  padding-bottom: 105px;
  margin-left: 150px;
  position: center;
}

table tr:nth-child(odd) {
   background-color: #ccc;
}

th#num{
  width:10px;
}

body{
    background-color: lightblue;

}

button#newcontent{
 background-color: gray;
 color: #black;
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 300;
}

.new{
right:250px;  
margin-top: 5px;

}

.tab{
  width: 90%;
  top: 130px;
}

table#ta1{

    width: 50%;
    text-align: center;
margin:0 auto;
margin-top: 170px;

}

img{
  width:250px;
margin-left: 820px;
margin-top: 230px;
}
