<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
      <link rel="stylesheet" href="/css/form-elements.css">
      <link rel="stylesheet" href="/css/style.css">


  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
  	<% include ./../partials_template/menu_templates/menu_sub_playlist %>

	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap" style="background:white">
		<div class="container">

			<div class="row" >
        <div class="col-xs-4 ">
          <a href="/playlist/create"><span class="glyphicon glyphicon-plus" style="font-size: 12em;"></span></a>

        </div>
        <div class="col-lg-4">
        </div>
        <h1 style="color:black; text-align:left;">+ NEW PLAYLIST</h1>

        </div> <!--row -->



        <!-- begin form logic below -->
                <div class="container">
                    <div class="col-sm-4 book">
                    </div>

                      <div class="col-sm-5 form-box">
                          <div class="form-top-left">
                              <!-- <p>Fill in the form below to get instant access:</p> -->
                          </div>

                          <div class="form-bottom">
                        <form role="form" action="/installation/create" method="post" class="registration-form">
                          <div class="form-group">
                            <label class="sr-only" for="form_city">City</label>
                              <input type="text" name="form_city" placeholder="Name..." class="form_city form-control" id="form_city">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_country">Country</label>
                              <input type="text" name="form_country" placeholder="Description..." class="form_country form-control" id="form_country">
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="form_school_affiliation"> Affiliation</label>
                              <input type="text" name="form_school_affiliation" placeholder="Search Molecules..." class="form_school_affiliation form-control" id="form_school_affiliation">
                            </div>



                            <button type="submit" class="btn">Post</button>
                        </form>
                      </div><!-- formbottom-->
                  </div><!-- form box-->

                </div><!-- contanier-->


        <!-- end form logic here.-->





		</div><!-- /container -->
	</div><!-- /headerwrap -->






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery.backstretch.min.js"></script>
  <script src="/js/retina-1.1.0.min.js"></script>
  <script src="/js/scripts.js"></script>

      <footer>
    <% include ../partials_template/footer %>
  </footer>

</body>
</html>
