<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./../partials_template/head %>
      <!-- <link rel="stylesheet" type="text/css" href="../css/content-index.css" media="all" /> -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
 <% include ./../partials_template/menu_templates/menu_sub_playlist %>

 <!-- ========== render partial SECTION ========== -->
<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap" style="background:white">

  <div class="container">
    <div class="row" >
      <h1 style="color:black">CURRENT PLAYLIST(S)</h1>

      <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="text-align:center;">Admin</th>
            <th style="text-align:center;">Date</th>
            <th style="text-align:center;">Playlist</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>2/1/2015</td>
            <td><!--<a href="content.html">-->playlist_id 1<!--</a>--></td>
          </tr>
          </a>
          <tr>
            <td>Mary</td>
            <td>2/1/2015</td>
            <td><!--<a href="content.html">-->playlist_id 2<!--</a>--></td>
          </tr>
          <tr>
            <td>July</td>
            <td>2/1/2015</td>
            <td><!--<a href="content.html">-->playlist_id 3<!--</a>--></td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>
  </div><!-- /container -->
</div><!-- /headerwrap -->







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <footer>
      <% include ./../partials_template/footer %>
    </footer>
  </body>
  </html>
