body {
font-size: 80%; 
font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;   
background-color:#333; 
color:#FFFAFA; //text <<
overflow-y: auto;
}

.contentview{
	  text-align:left;
	  position: fixed;
	top:90px;	
	height:80%;
	overflow-y: auto;	
	  left: 7%;
	  right: 7%;
	  transform: translate(00%, 00%);
	  background-color:#881c1c;
	  padding:0 3% 0;
	border-radius: 15px;
	display:none;       << fadein
	font-weight:bold;
}

#myclasses{display:none;color:#7FFFD4;}
#todo{color:silver;}

<style>
a:link    {color:#00BFFF; background-color:transparent; text-decoration:none}
a:visited {color:#00BFFF; background-color:transparent; text-decoration:none}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:underline}
a:active  {color:#ff0000; background-color:transparent; text-decoration:underline}
</style>

  <style type="text/css">
TABLE.CSVTable {
  font: 1.2em Verdana,Arial,Geneva,Helvetica,sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* Header */
TABLE.CSVTable THEAD TR {
  background: #333333;
}
TABLE.CSVTable TH {
  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  font-size: 1.5em;
}

/* Table Cells */
TABLE.CSVTable TD, TABLE.CSVTable TH {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}
/* Default background color for rows */
TABLE.CSVTable TR {
  background: #FF6666;
}
/* Background color for odd rows */
TABLE.CSVTable TR.odd {
  background: #CC3333 ;
}
/* Hover color for all rows */
TABLE.CSVTable TR:hover {
  background: #333333 ;
}

/* Source code */
.source {
  background-color: #333333 ; border: 1px solid silver
}
  </style>
