body {
  background-color: #E1F5FE;
}

.main {
}

.md-toolbar-tools {
  background-color: #0288D1;
}

.md-primary {
  color: white;
}

#headerTitle {
  color: white;
}

#welcomeMsg {
  text-align: center;
  position: relative;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#welcomeMsg>h1 {
  font-size: 350%;
}

.signupPanel {
  width: 560px;
  height: 400px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 40px;
}

#errMsg {
  text-align: center;
}

.signupField {
  width: 450px;
  height: 220px;
  margin-top: 20px;
  display: table;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#btnContainer {
  width: 105px;
  height: 45px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#signBtn {
  width: 100px;
  height: 35px;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background-color: #0288D1;
}

#signupMsg {
  text-align: center;
  margin: auto;
  position: relative;
}

#img_indexBack {
  width: 800;
  height: 400;
}

#p_logo {
  width: 45px;
  height: 40px;
}

#headerLogo {
  float: left;
  display: inline;
}
