<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
  		<link rel="stylesheet" type="text/css" href="./css/content-index.css" media="all" />
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./../partials_template/header %>
  	<% include ./../partials_template/menu_templates/menu_sub_molecule %>

	<!-- ========== render partial SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">

				<!--  render templates and forms here   -->
				<div class= "new">
<button id="newcontent" type="submit" />New Content </button></br>
</div>

<div class=tab>
<table id="ta1" border="1">
    <thead>
      <tr>
        <th id ="num">Number</th>
        <th id ="nam">Name</th>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="content.html">mol1</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="content.html">mol2</a></td>
      </tr>
       <tr>
        <td>3</td>
        <td><a href="content.html">mol3</a></td>
      </tr> <tr>
        <td>4</td>
        <td><a href="content.html">mol4</a></td>
      </tr> <tr>
        <td>5</td>
        <td><a href="content.html">mol5</a></td>
      </tr>
       <tr>
        <td>6</td>
        <td><a href="content.html">mol6</a></td>
      </tr> <tr>
        <td>7</td>
        <td><a href="content.html">mol7</a></td>
      </tr> <tr>
        <td>8</td>
        <td><a href="content.html">mol8</a></td>
      </tr> <tr>
        <td>9</td>
        <td><a href="content.html">mol9</a></td>
      </tr>
    </thead>
  </table>
</div>

<img id = "mo1" src="./img/methane.png">

				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<footer>
		<% include ./../partials_template/footer %>
	</footer>
	</body>
</html>
