<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p> 
<form action="/login/addNewUser" method="get">
  Username:<br> <input type="text" name="username"><br><br>
  Password:<br> <input type="text" name="password"><br><br>
  Verify Password:<br> <input type="text" name="verifyPassword"><br><br>
  email:<br> <input type="text" name="email"><br><br>
  <input type="submit" value="Add User">
</form><br><br>    

    <p><a href="/login/">Back to Login</a></p>
  </body>
</html>
