
 <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../javascripts/content_fadein.js"></script>
  <style type="text/css">
TABLE.CSVTable {
  font: 1.0em Verdana,Arial,Geneva,Helvetica,sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* Header */
TABLE.CSVTable THEAD TR {
  background: #333333;
}
TABLE.CSVTable TH {
  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  font-size: 1.5em;
}

/* Table Cells */
TABLE.CSVTable TD, TABLE.CSVTable TH {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid transparent;
}
/* Default background color for rows */
TABLE.CSVTable TR {
  background: #FF6666;
}
/* Background color for odd rows */
TABLE.CSVTable TR.odd {
  background: #CC3333 ;
}
/* Hover color for all rows */
TABLE.CSVTable TR:hover {
  background: #333333 ;
}

/* Source code */
.source {
  background-color: #333333 ; border: 1px solid #999999
}
  </style>
  </head>

  <body>
  
<div id="header"></div>
  <script>
var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#headerbanner');
    document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#student_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>




<div id = "content" class = "contentview">
<h1>General Education Requirements</h1>

<script type="text/javascript">
var user = '<%= username %>,';
var className = new Array();
var term = new Array();
var instructor = new Array();
(function($){

  /**
  *
  * CSV Parser credit goes to Brian Huisman, from his blog entry entitled "CSV String to Array in JavaScript":
  * http://www.greywyvern.com/?post=258
  *
  */
  String.prototype.splitCSV = function(sep) {
    for (var thisCSV = this.split(sep = sep || ","), x = thisCSV.length - 1, tl; x >= 0; x--) {
      if (thisCSV[x].replace(/"\s+$/, '"').charAt(thisCSV[x].length - 1) == '"') {
        if ((tl = thisCSV[x].replace(/^\s+"/, '"')).length > 1 && tl.charAt(0) == '"') {
          thisCSV[x] = thisCSV[x].replace(/^\s*"|"\s*$/g, '').replace(/""/g, '"');
        } else if (x) {
          thisCSV.splice(x - 1, 2, [thisCSV[x - 1], thisCSV[x]].join(sep));
        } else thisCSV = thisCSV.shift().split(sep).concat(thisCSV);
      } else thisCSV[x].replace(/""/g, '"');
    } return thisCSV;
  };

  $.fn.CSVToTable = function(csvFile, options) {
    var defaults = {
      tableClass: "CSVTable",
      theadClass: "",
      thClass: "",
      tbodyClass: "",
      trClass: "",
      tdClass: "",
      loadingImage: "",
      loadingText: "Loading CSV data...",
      separator: ",",
      startLine: 0
    };  
    var options = $.extend(defaults, options);
    return this.each(function() {
      var obj = $(this);
      var error = '';
      (options.loadingImage) ? loading = '<div style="text-align: center"><img alt="' + options.loadingText + '" src="' + options.loadingImage + '" /><br>' + options.loadingText + '</div>' : loading = options.loadingText;
      obj.html(loading);
      $.get(csvFile, function(data) {
        var tableHTML = '<table class="' + options.tableClass + '">';
        var lines = data.replace('\r','').split('\n');
        var printedLines = 0;
        var headerCount = 0;
        var headers = new Array();
        var lineOn=0;
        $.each(lines, function(lineCount, line) {
          if ((lineCount == 0) && (typeof(options.headers) != 'undefined')) {
            headers = options.headers;
            headerCount = headers.length;
            tableHTML += '<thead class="' + options.theadClass + '"><tr class="' + options.trClass + '">';
            $.each(headers, function(headerCount, header) {
              tableHTML += '<th class="' + options.thClass + '">' + header + '</th>';
            });
            tableHTML += '</tr></thead><tbody class="' + options.tbodyClass + '">';
          }
          if ((lineCount == options.startLine) && (typeof(options.headers) == 'undefined')) {
            headers = line.splitCSV(options.separator);
            headerCount = headers.length;
            tableHTML += '<thead class="' + options.theadClass + '"><tr class="' + options.trClass + '">';
            $.each(headers, function(headerCount, header) {
              tableHTML += '<th class="' + options.thClass + '">' + header + '</th>';
            });
            tableHTML += '<th>Enroll</th></tr></thead><tbody class="' + options.tbodyClass + '">';
          } else if (lineCount >= options.startLine) {
            var items = line.splitCSV(options.separator);
            if (items.length > 1) {
              printedLines++;
              if (items.length != headerCount) {
                error += 'error on line ' + lineCount + ': Item count (' + items.length + ') does not match header count (' + headerCount + ') \n';
              }
              (printedLines % 2) ? oddOrEven = 'odd' : oddOrEven = 'even';
              tableHTML += '<tr class="' + options.trClass + ' ' + oddOrEven + '">';
              $.each(items, function(itemCount, item) {
                if(itemCount===0){
                  className[lineOn] = item;
                }
                else if(itemCount === 4)
                  term[lineOn] = item;
                else if(itemCount===5)
                  instructor[lineOn] = item;
                tableHTML += '<td class="' + options.tdClass + '">' + item + '</td>';
              });
              tableHTML += '<td><form method="post" action="/user/geneds/enroll"><button value="'+className[lineOn]+'" name="enroll" id="'+lineOn+'" ">Enroll</button></form></td></tr>';
              lineOn = lineOn + 1;
            }
          }
        });
        tableHTML += '</tbody></table>';
        if (error) {
          obj.html(error);
        } else {
          obj.fadeOut(500, function() {
            obj.html(tableHTML)
          }).fadeIn(function() {
            // trigger loadComplete
            setTimeout(function() {
              obj.trigger("loadComplete");  
            },0);
          });
        }
      });
    });
  };

})(jQuery);

$(function() {
    $.get('../uploads/studentsample/genEds.csv', function(data) {
      $('#CSVSource').html('<pre>' + data + '</pre>');
    });
    $('#CSVTable').CSVToTable('../uploads/studentsample/genEds.csv', { startLine: 0 });
  });

function fxn(btn){
  alert("You are now enrolled in"+className[btn.id]);
  //m.enroll(user,className[btn.id],term[btn.id],instructor[btn.id],function(err,data));
}

</script>

<!-- <div id="CSVSource" class="source">
</div> -->
<br>
<div id="CSVTable">

</div>

</div>



 </body>
</html>