<!DOCTYPE html>
<html>
  <head>
    <% include ./../partials_template/head %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">

    <% include ./../partials_template/header %>
    <% include ./../partials_template/menu_templates/menu_sub_user %>

    <section id="home" name="home"></section>
    <div id="headerwrap" style="background:white">
      <div class="container">
        <div class="row">
          <h1 style="color:black">Add User</h1>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <!-- form for entering user info -->
          <form class="" action="user/add" method="post">
            <p>
              <input type="text" name="username" value="" placeholder="username">
            </p>
            <p>
              <input type="text" name="email" value="" placeholder="email">
            </p>
            <p>
              <input type="text" name="password" value="" placeholder="password">
            </p>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
