
  	<% include ./menu_template_start %>
			<a href="/user/">Manage Users</a>

			<a href="/molecule/">Manage Molecule</a>

			<a href="/playlist/">Manage Playlists</a>

			
			<a href="/download/">Download all Contents</a>


			<a href="/logout">logout</a>

  	<% include ./menu_template_end %>