
  	<% include ./menu_template_start %>
			<a href="/installation/" class="smoothScroll">Manage Installations</a>
			<a href="/installation/add#add" class="smoothScroll">Installation Form</a>
			<a href="/installation/edit" class="smoothScroll">Edit Installations</a>
		
  	<% include ./menu_template_end %>