
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/classie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
	<script src="/js/main.js"></script>


<p class="text-center text-muted">&copy; Copyright 2015 Team Dropout</p>