<!--
<nav class="navbar navbar-default" role="navigation">
-->
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">temp test links:</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/about">About</a></li>
			<li><a href="/molecule">molecule</a></li>
			<li><a href="/playlist">playlist</a></li>
			<li><a href="/installation">installation</a></li>
			<li><a href="/user">user</a></li>
		</ul>
	  
	</div>
<!--
</nav>
-->