<!--
<nav class="navbar navbar-default" role="navigation">
-->
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">temp test links:</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/about">About</a></li>
			<li><a href="/molecule">molecule</a></li>
			<li><a href="/playlist">playlist</a></li>
			<li><a href="/installation">installation</a></li>
			<li><a href="/user">user</a></li>
		</ul>

	</div>

	<!-- Menu 		should seperate this as a partial, then use render-partial to pull it in		-->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">Playground</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#signup" class="smoothScroll">Signup-as Authors</a>
			<a href="#about" class="smoothScroll">About</a>
			<a href="about" class="smoothScroll"></a>
			<a href="/installation/" class="smoothScroll">Manage Installations</a>
			<a href="/installation/add#add" class="smoothScroll">Installation Form</a>
			<a href="/installation/edit" class="smoothScroll">Edit Installations</a> <!-- overview: implemeenting relative routed -->
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>
<!--
</nav>
-->
