<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/content_fadein.js"></script>
  </head>

  <body>
	<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	// Grab DOM from warning.html's document.
	var el = content.querySelector('#headerbanner');
    	document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#front_menu'); 
  	document.body.appendChild(el2.cloneNode(true));
  </script>

<div id ="content" class = "contentview">
    	<h1><div><%= message %></div></h3>

	<p>Here are some links to get started </p>
	<p><a href="../login"> Click Here </a> to login to retrieve your profile</p>
	<p><a href="../signup"> Signup an Account </a> join or create your group today!</p>
		

	<br>
	<br>
	<p><a href="../info"> This is how inspire works </a> have pics/pdf slides </p>
	<br>

	

	<p><a href="../user/online"> Here is a current list of online users</a></p>
	<br>

</div>
  </body>
</html>