<!DOCTYPE html>
<html lang="en">
  
  <head>
  		<% include ./partials_template/head %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

  	<% include ./partials_template/menu_public %>
	


	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap" class="normalize" style="background:grey">
		<div class="container">
			<div class="logo">
				<img src="/img/logo.png">
			</div>
			<br>
			<div class="row">
				<h1>EDIT INSTALLATIONS</h1>
				<br>
				<h3>Expansion Demo.</h3>
				<br>
				<br>
        <div class = "leftjustified">
           <p>
             <br><br>
           </p>
        </div>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->


   	<footer>
		<% include ./partials_template/footer %>
	</footer>
</body>
</html>
