<!DOCTYPE html>
<html>
  <head>
    <title><error page></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href = "../">
  <img id="header_image" src ="/images/updatedLogo.png">
  </a>


<div id ="content">
    <h1><error page></h1>
    <div><%= message %></div><br>

</div>
  </body>
</html>
