<!DOCTYPE html>
<html lang="en">
  <head>
  
  		<link rel="stylesheet" type="text/css" href="./css/homepage.css" media="all" />
  		<% include ./partials_template/head %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./partials_template/header %>
  	<% include ./partials_template/menu_templates/menu_public %>


	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap" >

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				<h3>
				<br>placeholder for googlemap 
				<br>
				</h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->


	<!-- ========== other scoll SECTION ========== -->



<section id="login" name="login"></section>
<div id="f">
		<div class="container">
			<div class="row">
				<section class="container">
    <div class="login">
      <h1>Login to Web App</h1>
     	 <% if (message) { %>
		<p><%- message %></p>
		<% } %>

      <form method="post" action="login">
        <p><input type="text" name="user" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
    </div>

			</div>
		</div><!-- /container -->
	</div><!-- /f -->


<section id="signup" name="signup"></section>
<div id="f">
		<div class="container">
			<div class="row">
				<h3>Signup</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->


	<!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">
					<!-- <p>A full time theme crafter based in Madrid, Spain. I love designing beautiful, clean and user-friendly interfaces for websites.</p>
					<p>My passion is turning good ideas and products into eye-catching sites.</p>
					<p>Sometimes I blog about design and web trends. Also I share links and my thoughts on <a href="http://twitter.com/BlackTie_co">Twitter</a>. Need a free handsome bootstrap theme? <a href="http://blacktie.co">Done!</a></p>
					<p>I'm available for freelance jobs. Contact me now.</p> -->
          <p>
            The molecular aspects of nature are too often viewed as inaccessible and uninteresting to the general public. While the public can appreciate the beauty of a flower or a swan, the molecular basis of these organisms goes unnoticed. While scientists appreciate the awe-inspiring beauty of both small and macromolecules, this is rarely communicated to the public. Consequently, the public sees molecular science as something removed from their everyday life. Even worse, much of the public associates 'chemicals' with toxins and pollution.
With support from the Camille  Henry Dreyfus Foundation and the College of Natural Sciences at the University of Massachusetts Amherst and its supporters and alumni, this project has developed a system for displaying large-scale interactive molecules in prominent public spaces. The first such system was installed in the new Integrated Sciences Building on campus (see Current Installations for others). The aim is to capture the public's attention and to prod individuals to explore personally a vast array of molecular structures in a human-size "molecular playground."
          </p>
					<!-- <p><button type="button" class="btn btn-warning">I HAVE A FREELANCE JOB</button></p> -->
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<footer>
		<% include ./partials_template/footer %>
	</footer>
	</body>
</html>
