<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./partials_template/head %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<% include ./partials_template/header %>
  	<% include ./partials_template/menu_public %>

	<!-- ========== render partial SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">

				<!--  render templates and forms here   -->

				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<footer>
		<% include ./partials_template/footer %>
	</footer>
	</body>
</html>
