<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../javascripts/content_fadein.js"></script>
  </head>

  <body>
<div id="header"></div>
  <script>
var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#headerbanner');
    document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#student_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>

<div id ="content" class = "contentview">
<p>
<h1>Welcome to the Student Homepage</h1>
<h3>
<br>   <%= message %>.
<br>   new page TBD
</h3>
</p>
</div>


  </body>
</html>